.DS_Store
.DS_Store/
.git/
.idea/
.vscode/
BlazorApp1/bin/
BlazorApp1/obj/
AllTestPro/bin/
AllTestPro/obj/
MultyTestApp/bin/
MultyTestApp/obj/
MultyTestApp/.DS_Store
BlazorApp1/.DS_Store
AllTestPro/.DS_Store
BlazorApp1/publish/
AllTestPro/publish/
MultyTestApp/publish/
publish/